// COLOR VARIABLES
$theme-color-tab-label-primary: #ffffff;
$theme-color-font-primary: #ffffff;

// FONT SIZE
$theme-font-size-tab-label-primary: 2.0vw;
$theme-font-size-h1: 3.0vw;
$theme-font-size-h2: 2.0vw;
$theme-font-size-p: 3vmin;

$theme-font-size-small: 1.0vw;
$theme-font-size-large: 1.5vw;
$theme-font-size-xl: 2.0vw;

