<div fxLayout="row" fxFlex fxLayoutAlign="center center">
  <md-card class="credits-card">
    <md-card-header>
      <div md-card-avatar class="credits-header-image"></div>
      <md-card-title>Gökhan Sari</md-card-title>
      <md-card-subtitle>30 years old, father, living in Zurich, originally from Turkey</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/profile.png" alt="Gökhan Sari">
    <md-card-content>
      <p>
        My career as a software engineer has allowed me to extensively broaden my skills in all aspects of software design & development and I consider myself to be a full stack developer. With every new project I will always find opportunities to experiment with new and current frameworks such as popular ones as Spring, Hibernate and AngularJS. I have worked in large and small organisations but not matter the size of the company, I have always believed in pushing myself in delivering and developing innovative products.

        Since my childhood I have always had a keen interest in programming and this has grown my passion for engineering. I have a very keen interest about 3D design and game development and develop games in my free time.

        Here are a list of tools/frameworks that I am an expert in:

        <br/>Backend: Java, Spring, Hibernate/SQL, Maven, REST interfaces
        <br/>Frontend: Angular, GWT/GXT, Apache Cordova, NativeScript
        <br/>Testing tools: JUnit, Selenium, PyAutoGUI
        <br/>Game development: Unity 3D and C#
      </p>
    </md-card-content>
    <md-card-actions>
      <a href="https://www.linkedin.com/in/goekhan-sari" md-raised-button color="accent" target="_blank"><md-icon>public</md-icon> LinkedIn</a>
      <a href="https://twitter.com/goekhansari" md-raised-button color="accent" target="_blank"><md-icon>public</md-icon> Twitter</a>
      <a href="https://medium.com/@gsari" md-raised-button color="warn" target="_blank"><md-icon>public</md-icon> Medium</a>
      <a href="https://www.instagram.com/goekhansari" md-raised-button color="warn" target="_blank"><md-icon>public</md-icon> Instagram</a>
    </md-card-actions>
  </md-card>
</div>
