@import 'themes/variables.theme.scss';

// FONTS
@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}

.font-size-small {
  font-size: $theme-font-size-small;
}

.font-size-large {
  font-size: $theme-font-size-large;
}

.font-size-xl {
  font-size: $theme-font-size-xl;
}

// MATERIAL ICONS
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/material-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('/assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
  url('/assets/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
  url('/assets/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
  font-size: 1.5vw;
}

.material-icons.md-24 {
  font-size: 2vw;
}

.material-icons.md-30 {
  font-size: 2.7vw;
}

.material-icons.md-32 {
  font-size: 3vw;
}

.material-icons.md-36 {
  font-size: 3.5vw;
}

.material-icons.md-48 {
  font-size: 4.5vw;
}
