<div fxLayout="row" fxFlex="100" fxLayoutAlign="stretch" class="content">
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
    <div fxLayout="column" fxFlex="70">
      <div fxLayout="row" fxFlex="100">
        <div fxLayout="row" fxFlex="70" fxLayoutAlign="start start" class="embed-container">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
            <div *ngIf="video">
              <iframe width="560" height="315" frameborder="0" allowfullscreen [src]="video?.videoId | youtubeSafeUrl"></iframe>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxFlex="30" fxLayoutAlign="start start">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-around stretch">
            <md-toolbar>Comments</md-toolbar>
            <div class="comments">
              <md-card *ngFor="let comment of comments" class="comment">
                <md-card-header>
                  <img md-card-avatar [src]="comment.authorProfileImageUrl">
                  <md-card-title class="comment-title">{{comment.authorDisplayName}}</md-card-title>
                  <md-card-subtitle>Likes: {{comment.likeCount}}</md-card-subtitle>
                </md-card-header>
                <md-card-content><div [innerHTML]="comment.textDisplay"></div></md-card-content>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="start stretch">
      <md-card *ngIf="video">
        <md-card-header>
          <img md-card-avatar [src]="video.thumbnailUrlMedium">
          <md-card-title>{{video.title}}</md-card-title>
          <md-card-subtitle>{{video.description}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            Views: {{video.statisticViewCount}} | Duration: {{video.duration}}
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>













