.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.embed-container iframe {
  width: 100%;
  height: 80vh;
}

.comments {
  height: calc(80vh - 64px); // minus toolbar
  overflow: scroll;
}

.comment {
  margin: 10px;
}

.comment-title {
  font-weight: 700;
}
