<header class="header">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="stretch" class="content">
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" class="content">
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="end center">
          <nav md-tab-nav-bar>
            <a md-tab-link *ngFor="let navLink of navLinks" [routerLink]="navLink.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
              {{navLink.label}}
            </a>
          </nav>
        </div>
      </div>
    </div>
</header>
