@import 'responsive-breakpoints.scss';

// MAIN STYLES
$background-color-oas: #000000;
$header-height: 14vh;
$footer-height: 55px;


// FONT COLORS
$font-color-primary: #ffffff;


// FONT SIZE
$h1-font-size: 3.0vw;
$h2-font-size: 2.0vw;
$p-font-size: 3vmin;
$font-size-small: 1.0vw;
$font-size-medium: 1.2vw;
$font-size-large: 2.0vw;
$font-size-xl: 3.0vw;


