@import 'app/shared/styles/variables.scss';
@import 'app/core/styles/reset.scss';
@import 'app/core/styles/common.scss';




body {
  background: white;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

p {
  font-size: $p-font-size;
}