<swiper [config]="swiperConfig">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let video of swiperList">
      <a [routerLink]="['/video', video.videoId]"><img [src]="video.thumbnailUrlHigh"></a>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
<div *ngFor="let videoCategory of videoCategories">
  <md-toolbar>{{videoCategory.title}}</md-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="videos-container">
      <md-card *ngFor="let video of videoCategory.videos" class="video-item">
        <md-card-header>
          <md-card-title class="youtube-video-title">{{video.title}}</md-card-title>
          <md-card-subtitle>{{video.channelTitle}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <a [routerLink]="['/video', video.videoId]"><img class="youtube-video-image" [src]="video.thumbnailUrlMedium"></a>
          <p>Views: {{video.statisticViewCount}} | Duration: {{video.duration}}</p>
        </md-card-content>
      </md-card>
    </div>

</div>
