<h2 md-dialog-title>Flex</h2>
<div md-dialog-content class="dialog-content">
  <div class="flex-add-div">
    <p>Base</p>
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
    </div>
  </div>
  <div class="flex-add-div">
    <p>Spread</p>
    <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1">
    </div>
    <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1">
    </div>
  </div>  
  <div class="flex-add-div">
    <p>OID</p>
    <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1">
    </div>
  </div>  
  <div class="flex-add-div">
    <p>Upfront Fee</p>
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
    </div>
  </div>  
  <div class="flex-add-div flex-btn">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Add
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-js-ripple-effect">
        Cancel
    </button>
  </div>  
</div>